{% extends 'accueil.twig' %}


{% block title %}Spéleonautes - Connectez-vous !{% endblock %}

{% block body %}
<h1>Spéléonautes</h1>
<blockquote>"La Grande Fosse est sans fond. La Grande Fosse est gigantesque. La Grande Fosse est source de richesses incommensurables pour qui ose y risquer sa vie." </blockquote>
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
<div><a href="{{ path('app_register') }}">Enregistrement</a><a href="{{ path('app_forgot_password_request') }}">MDP perdu</a></div>

<div class="histoire">

<h1>L'histoire de la Fosse</h1>
<p>L'effondrement a eu lieu il y a plus de mille ans. La Fosse a tout pris, la mine, les villages autour, les hommes et femmes qui y travaillaient. Mais les profondeurs de celle-ci ont révélé une richesse fabuleuse, une richesse que seuls les plus téméraires ont su s'approprier.</p>
<p>Le gouffre, dont la fin n'a jamais pu être mesurée, se trouve au milieu d'une plaine désertée du grand continent Kyanos. Une population de téméraires aventuriers, les Spéléonautes, réside sur son pourtour depuis de nombreuses générations, après la catastrophe qui a causé son apparition et les découvertes extraordinaires qui s'ensuivirent. </p>
<p>Les Spéléonautes sont prêts à tout pour affronter la Fosse et en remonter des artefacts puissants, issus des civilisations du passé. Les Lanternes Blanches, les plus connus d'entre eux, sont devenus des légendes vivantes, les premiers à avoir découvert la Géode (ou grande salle) de la Verna, et a en être revenus vivants. </p>
<p>Tout au fond du gouffre se trouvent les artefacts les plus rares, qui ont une valeur inestimable. Mais aussi, la Fosse est peuplée d'une flore et d'une faune propre à chaque Géode, extraordinaire et variée, dont certains spécimens sont extrêmement dangereux. On les appelle les Hôtes de la Fosse.</p>
<p>Les hôtes de la fosse ont des caractéristiques passionnantes, principalement dues au Courant. </p>
<p>Descendre est facile, remonter est extrêmement ardu. Car la Grande Fosse est habitée d'une force unique, le Courant, qui se déplace continuellement vers le fond, d'une Géode à l'autre. Si suivre le Courant pour descendre toujours plus profond est facile, remonter le Courant vers la surface cause aux organismes vivants d'importants effets secondaires : nausées, brûlures, hallucinations, folie, mutations.</p>
<p>Seule la Lanterne, un artefact manufacturé spécialement pour les Spéléonautes, est capable de repousser le Courant pour en mitiger les effets. </p>
<p class="centered">☆  ☆  ☆</p>
<p><em>Durant l'ère légendaire des Lanternes Blanches, tout se faisait à la main par les Spéléonautes qui risquaient leur vie pour remonter les précieux artefacts. </em></p>
<p>L'ère contemporaine est celle du Chevalement, caractérisée par un treuil immense qui a été construit pour envoyer en profondeur de nombreuses équipes d'Hôtes préprogrammés pour explorer et remonter reliques du passé et autres trésors. La plus grande invention de l'ère du Chevalement est la Manufacture. Celle-ci permet de créer de nouveaux artefacts en combinant des reliques et d'autres ressources, les articles les plus connus étant les Lanternes, qui permettent de remonter le Courant et les greffons, qui permettent d'apprivoiser et de programmer les Hôtes.</p>
<p>Spelaïon est une ville fondée tout autour de la Grande Fosse, constituée de plusieurs quartiers comme le quartier de la Manufacture, le quartier marchand, le quartier Nord, et le quartier des orphelins. La principale activité des habitants contemporains de Spelaïon est d'envoyer des Hôtes explorer les différents niveaux de la Fosse, pour en remonter les trésors, mais aussi de tenter d'agrandir son équipe en capturant les hôtes sauvages habitant dans la Fosse.</p>
<p>Hugo et Anna sont deux orphelins inséparables dont les parents ont depuis longtemps disparu, ils ont été élevés dans le même orphelinat. Après avoir reçu une lanterne bleue afin d'explorer le premier niveau de la Fosse, ils ont enfin atteint l'âge d'obtenir leurs premiers hôtes.</p>


</div>

{% endblock %}
