    {% block menu %}
<nav class="menuHub">
<a href="{{ path('app_chevalement') }}">Chevalement</a>
<a href="{{ path('app_entrepot') }}">Entrepôt</a>
<a href="{{ path('app_formation') }}">Formation</a>
<a href="{{ path('app_bureau') }}">Bureau</a>
<a href="{{ path('app_hotel_ventes') }}">Hôtel des Ventes</a>
</nav>
{% endblock %}
