
<div class="liste">
	{% if form is defined and form.vars.id != 'chevalement' %}
		<div class="contenu_liste">
			{{ form(form) }}
		</div>
	{% endif %}


	<!-- Pour la page de l'entrepot -->
		{% if tabcreatures is defined %}
		<div class="contenu_liste">
			<h2>Vos hôtes :</h2>
			<ul>
				{% for creature in tabcreatures  %}
					<li>
						<a href="{{ path('app_entrepot', {'idcreature' : creature.id}) }}"> {{ creature.nom }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}

		<!-- Pour la page des bureau/log -->
		{% if idLogs is defined %}
		<div class="contenu_liste">
			<h2>Vos combats:</h2>
			<ul>
				{% for idLog in idLogs  %}
					<li>
						<a href="{{ path('app_bureau', {'idlog' : idLog[0] }) }}">#{{ idLog[0] }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
</div>
