
<div class="zone_titre">
<nav>
    <a href="{{ path('app_hub') }}"> Hub </a>
    <a href="{{ path('app_logout') }}"> Déconnexion </a>
    <a href="{{ path('app_hub_regles') }}"> Règles </a>
    <a href="{{ path('app_hub_glossaire') }}"> Glossaire </a>
    <a href="{{ path('app_bureau_classement') }}"> Classement </a>
Pseudo :{{ profil.pseudo}} - 
 Or :{{ profil.monnaie}} - 
 Reputation :{{ profil.reputation}}
</nav>
</div>